body {
  margin: 2px;
  padding:2px;
  font-family: var(--vscode-editor-font-family);
  font-weight: var(--vscode-editor-font-weight);
  font-size: var(--vscode-editor-font-size);
  border-radius: 5px;
  border-width: 2px;
  color: var(--vscode-editor-foreground) !important;
  background-color: var(--vscode-editor-background) !important;
}


.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  padding: 10px;
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  background-color:#212529;
}
  
.main {
  margin-left: 250px; /* Same as the width of the sidebar */
  height: 100%;
  padding: 10px;
  background-color: #212529;
}
  
/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
  

button {
  height: 30px;
  width: 30px;
  outline: none;
  margin: 10px;
}

table {
  border-spacing: 0px;
  color: var(--vscode-editor-foreground) !important;
  background-color: var(--vscode-editor-background) !important;
}  

.label {
  /* font-style: italic; */
  text-align: right;
  font-size: small;
}

.data {
  font-weight:bold;
  text-align: left;
  /* overflow: scroll; */
  font-size: small;
}

.reference {
  padding-bottom: 8px !important;
  padding-top: 0px !important;
}

h3 {
  font-size: 1em;
}

.card, .card-header, .card-body {
  color: var(--vscode-editor-foreground) !important;
  background-color: var(--vscode-editor-background) !important;
}

.accordion > .card {
  margin-bottom: 1em;
}

.vscode-dark .card-header, .vscode-dark .card-body {
  /* background-color: lighten(var(--vscode-editor-background), 50%) !important; */
  filter: brightness(130%) !important;
}
.vscode-light .card-header, .vscode-light .card-body {
  /* background-color: darken(var(--vscode-editor-background), 50%) !important; */
  filter: brightness(90%);
}
.vscode-high-contrast .card-header, .vscode-high-contrast .card-body{
  /* background-color: darken(var(--vscode-editor-background), 50%) !important; */
  filter: brightness(90%);
}


.critical {
  background-color: red !important;
  border-color: red !important;
  color: #212529 !important;
  float: right;
}

.severe {
  background-color: orange !important;
  border-color: orange !important;
  color: #212529 !important;
  float: right;
}

.moderate {
  background-color: yellow !important;
  border-color: yellow !important;
  color: #ffecdb !important;
  float: right;
}

.low {
  background-color: darkblue !important;
  border-color:  darkblue !important;
  color: #152a23 !important;
  float: right;
}

.none {
  background-color: lightblue !important;
  border-color: lightblue !important;
  color: #00552a !important;
  float: right;
}

.alert {
  position: relative !important;
  padding: .25rem .75rem !important;
  margin-bottom: .5rem !important;
  border: 1px solid transparent !important;
  border-radius: .25rem !important;
  background-color: lightgray !important;
}

.current-version {
  color: burlywood;
}

.selected-version {
  color: rgb(63, 155, 67);
}

.numissues {
  padding: 1px;
  margin: 1px; 
}

.maxIssue {
  padding: 0px 5px 0px 5px;
  margin: 2px;
  border-radius: 2px; 
  /* color: white; */
}

  /* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}
  
@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}
  
@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
  
a img {
  width:16px;
  height:16px;
  padding: 2px 0px 0px 2px;
}

.code, code {
  font-family: Consolas,monaco,monospace;
}

.component-tab {
  border: blue;
  border-radius: 4px;
  background-color: pink;
}

.info-display {
  border: salmon;
}

.cipInfoLabel {
  font-size: 25px;
}
