td, th {
  /* border: 1px solid #ddd; */
  padding: 4px;
  /* height: 100px !important; */

}

tr:nth-child(even){
  background-color: lightgray;
}

tr:nth-child(odd){
  background-color: white;
}

:local(.label) {
  text-align: right;
}

:local(.data) {
  font-weight:bold;
  text-align: left;
}